<%- include('partials/header', {user: user}); -%>
<a class="btn btn-success btn-lg btn-block" href="/posts/compose" role="button">Compose</a>
<% posts.forEach((post) => { %>
<h1><%=post.title%></h1>
<p>
  <%=`${post.content.substring(0, 100)} ...`%>
  <a href="/posts/post/<%= post._id%>">Read More</a>
</p>

<% }) %> <%-include('partials/footer'); -%>
